* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1440px;
    margin: 0  auto;
    padding: 0 16px 0 16px;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu li {
    display: inline-block;
    padding: 10px;
}
.menu ul li a {
    text-decoration: none;
    color: black;
}
.menu ul li a:hover {
    color: rgb(233, 80, 49);
    text-decoration: underline;
}
.diana .diana-title {
    text-align: center;
    margin: 20px 0;
}
.diana-title h1 {
    font-size: 48px;
    margin-bottom: 16px;
}
.content-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    margin-bottom: 32px;
}
.item-inf {
    margin: auto 0;
}
.item-inf h2 {
    font-size: 24px;
}
.check-out {
    background-color: brown;
    color: white;
    text-align: center;
    padding: 16px 0;
}
.sub-banner {
    margin: 30px 0;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 16px;
}
.form-email input {
    border: 1px solid red;
}
::placeholder {
    color: white;
}
.Email {
    padding-left: 8px;
    color: rgb(0, 0, 0);
}
